.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-tweet form {
  width : 100%;
}

.new-tweet label {
  align-self : flex-start;
  font-family: sans-serif;
}

.textarea-container {
  display: flex;
  flex-direction: column;
}

.tweet-submit {
  display: flex;
  justify-content: space-between;
} 

.btn {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: white;
  width: 4em;
  margin-top : 8px;
}

.btn:hover {
  background-color: #6a7ec0;
}

.counter {
  font-family: 'Bungee', cursive;
  margin-top : 7px;
}

#tweet-text {
  border : none;
  outline: none;
  background : transparent;
  border-bottom: 2px solid black;
  height : 50px;
  font-size : 20px;
  font-family: sans-serif;
}
